@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: linear-gradient(rgba(20, 20, 20, 0.74), rgba(20, 20, 20, 0.74)), url(../img/bg.jpg) no-repeat;
  color:#fff;
  background-size: cover;
  background-position: center;
}
.hero-container{
  height: 100vh;
  width: 100%;
}
.container{
  width: 39rem;
  margin-bottom: 5rem;
}
.text h1{
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.text p{
  color: rgba(255,255,255,0.71);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
#clockdiv{
  font-family: sans-serif;
  color: #FF9242;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 70px;
  height: 169px;
  margin-left: 1rem;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  border-right: 1px solid #ffffff;
  
}
#clockdiv div:nth-child(4){
  border-right: none;
}

#clockdiv div > span{
  display: inline-block;
  padding-right: 1rem;
  height: 70px;
}

.smalltext{
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-inline .form-control{
  width: 22rem;
  margin-left: 3rem;
  border: 1px solid #ffffff;
}
.form-control{
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.05rem;
  width: 100%;
  background: transparent;
}
.form-control:focus{
  background: transparent !important;
  border: 1px solid #f7be68 !important;
  box-shadow: none;
}
.btn-info{
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0 1.5rem;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 2px;
}

.btn-info:hover{
  background: transparent;
  border: 1px solid #ff9b05;
  color: #ff9b05;
}
.btn-info:focus{
  background: transparent !important;
  border: 1px solid #ff9b05 !important;
  color: #ff9b05 !important;
  box-shadow: none !important;
}


@media only screen and (max-width: 780px){
  #clockdiv{
    font-size: 57px;
    margin-left: 1rem;
  }
  .form-inline .form-control{
    width: 22rem;
    margin-left: 0;
  }
  .smalltext{
    font-size: 14px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 700px){
  #clockdiv{
    font-weight: 100;
    font-size: 45px;
    margin-left: 3rem;
  }
  .smalltext{
    font-size: 12px;
  }
  .form-inline .form-control{
    width: 23rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
  .btn-info{
    margin-left: 12rem;
  }
}

@media only screen and (max-width: 520px){
  #clockdiv{
    font-size: 47px;
  }
  .container {
    width: 39rem;
    margin-top: 8rem;
  }
  .form-inline .form-control{
    width: 23rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 480px){
  #clockdiv{
    font-size: 43px;
    margin-left: 2rem;
  }
  .btn-info{
    margin-left: 10rem;
  }
  .form-inline .form-control{
    width: 22rem;
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 380px){
 
  #clockdiv{
    font-size: 30px;
    height: 91px;
    margin-left: 1.05rem;
  }
  .smalltext{
    font-size: 12px;
    color: #ffffff;  
  }
  #clockdiv div > span{
    height: 0;
  }
  .form-inline .form-control{
    width: 20rem;
    margin-left: 1rem;
  }
  .btn-info{
    height: 2.7rem;
    margin-left: 7rem;
  }
}

